<body>
{% extends 'header.html' %} {% block content %}
<div class="register-form" style="text-align: center;">
    <div style="display: flex; flex-direction: column; align-items: center; width: 400px; margin-bottom: 20px;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}             
    </div>
   
    <form action="" method="POST" style="display: inline-block;">     
        {% csrf_token %}
        <h2 class="text-center">Registrarse</h2>
        {% for field in form %}
            <div class="form-group" style="margin-bottom: 5%; max-width: 400px">
                {{ field }}
            </div>
        {% endfor %}


        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
    </form>
</div>
{% endblock %}    
</body>
